.sidenavbar{
    width: 20%;
    text-decoration: none;
    list-style: none;
    box-shadow: 0px 5px 15px rgba(57, 55, 55, 0.2);;
    margin: 10px;
    margin-top: 100px;

}
.main{
  display: flex;
}
.container ul{
    
    
    list-style: none;
    margin-left: 1px !important;
    padding: 10px;

}
.container ul li{
    margin: 10px;
    font-size: 12px;

}
.container a{
text-decoration: none;
color: black;

}
.ic2{
    display: flex;
    align-items: center;
    gap: 10px;

    margin-bottom: 20px;
}

.container h1{
font-size: 15px;

}
.ic2 label{
    font-size: 12px;
}

.container h2{
    font-size: 15px;
    
    }

 /* search.module.css */

.sidenavbar {
    display: flex;
    flex-direction: row;
    padding: 20px;
  }
  
  .container {
    border: 1px solid #ccc;
    padding: 20px;
    margin-right: 20px;
    flex: 1;
  }
  
  .propertyList {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
  }
  
  .propertyRow {
    border: 1px solid #ccc;
    padding: 20px;
    width: calc(33.33% - 20px); /* Adjust the width as needed */
    box-sizing: border-box;
    background-color: #f7f7f7;
    transition: transform 0.2s ease-in-out;
  }
  
  .propertyRow:hover {
    transform: scale(1.05);
  }
  
  /* Add more styles for your filter options and other elements as needed */
  
  .propertyRow img {
    max-width: 200px; /* Set the maximum width to 200px */
    height: auto; /* Maintain the aspect ratio */
  }