.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  /* min-width: 100%; */
  margin-left: 5%;
  background-color: #ffffff;
  padding-top: 10px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  width: 90%;
  height: fit-content;
}
.maincontainer h1 {
  font-size: 15px;
  display: flex;
  margin: 0;

  z-index: 1;
}
.maincontainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  width: 90%;
}

.cc1 {
  display: flex;
  margin-bottom: 10px;
  gap: 10px;
}

.cc2 {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.cc2 label {
  display: block;
  /* margin-bottom: 20px; */
  margin-left: 4px;
}
.cc2 input {
  width: 20vw;
  min-width: 110px;
  border:0cap;
  border-bottom: 1px solid #ccc;
  margin-top: 12px;
  
}

.cc2 select {
  width: 14vw;
  min-width: 150px;
  height: 27px;
  margin: 0;
  border: none; /* Remove the default border */
  border-bottom: 1px solid #ccc; /* Add a bottom border for the line effect */
  margin-top: 3px;
}

.cc3 {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.cc3 label {
  display: block;
  /* margin-bottom: 20px; */
  font-size: 100%;
  margin-left: 4px;
}
.cc3 input {
  width: 14vw;
  min-width: 150px;
  padding-bottom: 30px;
  border: none;
  border-bottom: 1px solid #ccc;
}
/* .cc3 input::placeholder {
  font-size: 15px;
} */
.cc3 select {
  width: 24.5vw;
  min-width: 150px;
  height: 27px;
  margin: 0;
  border: none; /* Remove the default border */
  border-bottom: 1px solid #ccc; /* Add a bottom border for the line effect */
  margin-top: 3px;
}

.cc4 input {
  display: flex;
  width: 100%;
  height: 50px;
  text-align: center;
}
.button {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.previousbutton {
  background-color: orange;
  padding: 10px;
  color: white;
  width: 150px;
  border: none;
}
.nextbutton {
  background-color: orangered;
  padding: 10px;
  color: white;
  width: 150px;
  border: none;
}

.cc5 {
 
 
  height: 27px;
  margin-bottom: 10px;
}
.cc2 select,
.cc3 select {
  width: 20vw; /* Set the width to 4 0% */
  min-width: 110px; /* Minimum width to maintain consistency */
  height: 27px; /* Set the height */
  border: none; /* Remove the default border */
  border-bottom: 1px solid #ccc; /* Add a bottom border for the line effect */
  margin-top: 3px;
  margin-bottom: 15px;
}

.cc2,
.cc3,
#cc4_id,
.cc5 {
  font-size: 100%;
}

.in_one_line {
  /* display: flex; */
  
}

